

div.jsoneditor td, div.jsoneditor-field, div.jsoneditor-value {
    font-family: 'sofiapro', Helvetica, Arial, sans-serif;
    line-height: 100%;
    font-size: 10.5pt;
    
}

.jsoneditor-menu {
    background-color: #28A745
}

.jsoneditor-is-not-default {
    font-weight: bold;
}